.subscribe {
    padding: 120px 0;
    &__text {
        font-family: asl-regular;
        font-size: 3rem;
        color: $base-color;
        @include breakpoint(1023) {
            margin-bottom: 20px;
            text-align: center;
        }
    }
    form {
        display: flex;
        align-items: center;
        input {
            background-color: #f7f2ea;
            padding: 20px 30px;
            font-size: 1.6rem;
            font-family: nunito-regular;
            color: #696478;
            border: none;
            outline: none;
            border-radius: 5px;
            max-width: 75%;
            flex-basis: 75%;
            margin-right: 10px;
            @include breakpoint(767) {
                max-width: 64%;
                flex-basis: 64%;
            }
        }
        button {
            display: inline-block;
            color: #fff;
            background-color: $orange;
            font-family: asl-bold;
            font-size: 2.2rem;
            padding: 15px 15px;
            border-radius: 5px;
            max-width: 25%;
            flex-basis: 25%;
            @include breakpoint(767) {
                padding: 15px 4px;
                max-width: 37%;
                flex-basis: 37%;
            }
        }
    }
}