.schedule-opening__inner {
    margin-bottom: 40px;
    .schedule-opening__head {
        display: block;
        text-align: center;
        background-color: $base-color;
        padding: 10px;
        font-size: 17px;
        color: #fff;
    }
}